mixin deviceHeader(device)
	.row
		.col.s10
			h2 #{device.name}  #[small (#[a(href="/drivers/#{device.driver.id}") #{device.driver.name}])]
		.col.s2.right-align
			button.button.tiny
				i.mdi-action-delete
			button.button.tiny
				i.mdi-editor-mode-edit